<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if title %}{{ title }} :: {% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="my personal website" />
{% block style %}
{% endblock %}
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!--   <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" href="#" type="image/x-icon">
</head>
<body>

{% block page %}
{% endblock %}
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<!-- <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
<script src="//use.typekit.net/fqw4vwp.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<script src="/js/main.js"></script>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
':35729/livereload.js?snipver=2"></' + 'script>')</script>
{% block script %}
{% endblock %}
</body>