<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Kawakubo</title>
	<link rel="stylesheet" href="css/kawakubo.css">
	<link href='https://fonts.googleapis.com/css?family=Teko:400,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Atomic+Age' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="page-wrap">
		<h2 class="name-eng">Kawakubo</h2>
		<h5 class="name-jp">川久保 玲</h5>
		<h1 class="number">42</h1>
	</div>
</body>
</html>