<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Parallax Header</title>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/parallax-landing.css">
</head>
<body>
	<header class="draymond">
		<div class="title"></div>
	</header>
	<article>
		<div class="col-2">
			<h1>Draymond Green</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ut ipsa dicta modi, eos in? Unde magnam cupiditate fugit necessitatibus explicabo. Praesentium accusamus quae molestiae dolor eos ipsam, modi officiis ratione exercitationem tempora earum saepe itaque, repellat eius rem reprehenderit sunt commodi qui. Odio laboriosam aliquid quo id error atque, magnam necessitatibus pariatur sunt sapiente cum officia doloribus dolores ipsam voluptatem, temporibus obcaecati quaerat, officiis dolorum quia totam, quod exercitationem. Ratione ea optio dignissimos cupiditate vitae, debitis unde minus, in hic perferendis beatae reprehenderit, voluptatum qui consequuntur dolorum iure, architecto aliquid pariatur eum quae. Unde atque, aliquid doloribus quod et.</p>
		</div>
		<div style="height:2000px;"></div>
	</article>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="js/parallax-landing.js"></script>
</body>
</html>