<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Supreme</title>
	<link rel="stylesheet" href="css/supreme.css">
</head>
<body>
	<div class="page-wrap">
		<h5 class="first-h5">the</h5>
		<h1>supreme</h1>
		<h5 class="second-h5">team</h5>
		<p class="subheader">by mark jacobs <span>.</span> photographs compiled by a-ron the don</p>
		<p class="body-copy">On Lafayette Street in New York City, Superem is 7 years old. James Jebbia opened it in 1994. It was high Times for skateboarding and the culture. It still is high times, and Supreme is still here, in the same spot, with the same core people making it what it is. A lot of characters have moved through Superem. If you spend any time there, you'll hear about them. They're the ones who tell the Supreme story best. After all, Supreme is as much about business as it is about a family,e ven if it is a family that gets scraped up more than others.</p>
	</div>
</body>
</html>